apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-microservice
spec:
  replicas: 3
  selector:
    matchLabels:
      app: python-microservice
  template:
    metadata:
      labels:
        app: python-microservice
    spec:
      containers:
        - name: app
          image: python-microservice:latest
          ports:
          - containerPort: 8000
          envFrom:
            - configMapRef:
              name: app-config
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5