name: CIPipeline
on:
    push:
        branches: ["main"]
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v4
          - name: Build Docker Image
            run: docker build -t python-microservice -f docker/Dockerfile .
            run: docker run -p 8000:8000 python-microservice