name: CIPipeline
on:
    push:
        branches: ["main"]
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v4

        # Install Kind
          - name: Install kind
            uses: helm/kind-action@v1.10.0
        # Build the image
          - name: Build Docker Image
            run: docker build -t python-microservice:ci -f docker/Dockerfile .
        # Load the image into cluster kind
          - name: Load image to kind
            run: kind load docker-image python-microservice:ci
        # Update the image in deployment
          - name: set image
            run: kubectl set image deployment/python-microservice app=python-microservice:ci || true
        #Apply Manifests
          - name: Deploy to kind
            run: kubectl apply -f k8s/
        # Wait for rollout
          - name: wait for pods
            run: kubectl rollout status deployment/python-microservice
        # smoke test
          - name: Test service
            run: kubectl port-forward svc/python-microservice 8000:80 & sleep 5 
                 curl http://localhost:8000/health